production:
  password_reset_email_sender: {{ alveo_admin_user_email }}
  account_request_user_status_email_sender: {{ alveo_admin_user_email }}
  account_request_admin_notification_sender: {{ alveo_admin_user_email }}
  default_data_owner: {{ alveo_admin_user_email }}
  licence_access_request_notification_sender: {{ alveo_admin_user_email }}
  licence_access_request_response_sender: {{ alveo_admin_user_email }}